html, body {
  line-height: 1;
  font-family: "PingFang SC", STHeiti, Helvetica, Arial, sans-serif;
  font-size: 14px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none; // prevent default
}
